//
   Created by Josh on 2/5/2015.

head
    title= title
    script(src='/scripts/jquery.js')
    script(src='/scripts/bootstrap.js')
    script(src='/scripts/global.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')