extends layout

block content
    div.container
        div.jumbotron
            h1= title
            p Welcome to the best chat program ever conceived . . .
        br
        form.form(action='chat')
            div.form-group
                label(for='nickname') Nickname/Handle:
                input#nickname.form-control(name='n', style='width: 50%')
                br
                div.dropdown
                    button#selectRoom(class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='true', style='padding: 7px')
                        span(style='padding: 2px') Select Room
                        span.caret
                    label(class='label label-warning', style='margin-left: 5px') Not Implemented
                    ul#rooms.dropdown-menu(aria-labelledby='selectRoom', role='menu')
                br
                button(class='btn btn-primary', type='submit') Join

    script(src='/socket.io/socket.io.js')
    script.
        $(function() {
            $.get('chat/rooms', function(data) {
                $.each(data, function(i, room) {
                    var formattedRoom = '<a role="menuitem" tabindex="-1" href="#">' + room.name + '</a>'
                    $('#rooms').append($('<li role="presentation">').html(formattedRoom))
                })
            })

            $('#nickname').focus()

            $('form').submit(function() {
            })
        })